

table thead tr .ev-displayName {font-weight: 800; background: #d5d5d5;text-align: center;}
table thead tr .ev-column {font-weight: 800; background: #a9a9a9;text-align: center;}
/*table thead tr .ev-ellipsis {text-overflow: ellipsis;white-space: nowrap; overflow: hidden; max-width: 0;}*/
table thead tr .ev-ellipsis {text-overflow: ellipsis;}

table .ev-row {font-weight: 800; background: #a9a9a9;width: 20px!important; text-align: center;}
.text-left-important{text-align: left!important}
.key {background-image: url(./images/ico_key.png);background-repeat : no-repeat;background-size : cover;width:12px;height: 12px;display:inline-block; margin-right: 2px;}

.title{padding:10px;}
.ev-warning{position:absolute;}
h3 {font-weight: bold;}

/* custom tooltip*/
.ev-error { position:relative;}
.ev-tooltip {
    display:none;position:absolute!important;
    z-index:100!important;border:1px;
    background-color:white;text-align: left!important; width:280px;
    border-style:solid;border-width:1px;border-color:red;padding:3px;color:red;top:-10px;
}

.warn-sign{display:inline-block; position: relative!important;}
.warn-sign:hover span.ev-tooltip{display:block;}
.warn-sign:hover span.ev-tooltip-side{display:block;}

/* popover */
table .btn-popover{cursor: pointer; font-size: 14; vertical-align:middle;}
table .popover{position: absolute!important; padding: 5px; max-width:none;}
table .popover-title{color:#747378;}
table .list-group{max-height: 300px; margin-bottom: 10px; overflow:auto; -webkit-overflow-scrolling: touch; color:#747378;}
table .color-blue{color:#209bde!important;}

.popover-content {overflow:visible!important; width:1450px!important; max-width: 1450px!important;}
.popover-content table thead tr .ev-displayName {}
.popover-content table thead tr .ev-column {width:1%!important;}
.popover-content table thead tr .ev-row {width:10px!important;}
/*table thead tr .ev-ellipsis {text-overflow: ellipsis;white-space: nowrap; overflow: hidden; max-width: 0;}*/
table thead tr .ev-ellipsis {text-overflow: ellipsis;}
.popover-content .list-group{height:150px!important;}
.popover-content .ev-tooltip {
    display:none;position:absolute!important;
    z-index:100!important;border:1px;
    background-color:white;text-align: left!important;
    border-style:solid;border-width:1px;border-color:red;padding:3px;color:red;top:30px!important;
}
